<div id="response-holder">
  <div
    *ngFor="
      let response of responses.value | keyvalue: returnZero;
      let i = index
    "
  >
    <div
      (click)="close(getKey(objectCast(response.value)))"
      *ngIf="
        !objectCast(response.value)[getKey(objectCast(response.value))].close
      "
      [ngClass]="[
        objectCast(response.value)[getKey(objectCast(response.value))].isNew
          ? objectCast(response.value)[getKey(objectCast(response.value))].class
          : 'show',
        objectCast(response.value)[getKey(objectCast(response.value))]
          .statusClass
      ]"
      class="dynamic-response"
    >
      {{
        objectCast(response.value)[getKey(objectCast(response.value))].response
      }}
    </div>
  </div>
</div>
